/*--------------Nav-header--------------*/

#nav-header {
    display: flex;
    align-items: baseline; 
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
    background-color: white;
}

#nav {
	padding-right: 12.5%;
	padding-left: 12.5%;
}

#header {
	padding-left: 12.5%;
}

#nav-header h1 {
	margin: 0 auto 0 auto;
	font-family: 'Mr Dafoe', cursive;
}

#nav-header ul {
	padding: 0;
	margin: auto;
}

#nav-header header {
	color: 	#6d7993;
}


#nav-header li{
	list-style: none;
	display: inline-block;
	margin-right: 15px
}

#nav-header a, #nav-header a:link, #nav-header a:visited {
	color: rgba(93, 96, 99, .3);
	text-decoration: none;
	text-transform: lowercase;
}

#nav-header a:hover {
	color: #96858f; 
	border-bottom: solid;
}

#nav-header a:active {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px; 
	margin-right: -5px; 
 }


#nav-header a.selected {
 	color: #6d7993;
	border-bottom: solid;
	cursor: default;
 }

/*--------------FOOTER--------------*/

 footer {
    bottom: 10px;
    max-height: 100px;
    width: 100%;
    text-align: center;
    color: rgba(93, 96, 99, .8);

 }

/*--------------Homepage--------------*/

#main-body {
	display: flex;
    /*align-items: baseline; */

    flex-wrap: wrap; 
    width: 100%;
    max-height: 100%;
    margin: 30px 0 30px 0;
/*    box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
    background-color: white;*/

}

/*link boxes*/

#link-container {
	display: flex;
    /*align-items: baseline; */
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin: 0 0 0 25px;
    width: 40%;

}

.small-box {
	width: 33%;
	text-align: center;
}


.image-link {
	display: block;
}

.image-link img{
	display: block;
	margin:auto;
}


/*large photo*/

#main-image {
	width: 100%
}

#main-image-container {
	width: 40%;
	padding-left: 10%;
}

.image {
	color: #96858f; 
	border-bottom: solid;
}

/*--------------Employee Page--------------*/



.employeeOne {
	width: 600px;
  border: 2px solid slategray;
	margin: 1%;
}


.employeeImage {
	max-width: 70%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/*This removed the spacing below the biographies*/

.employeeBiography * {
	margin: 0;
	text-align: center; 
	padding: 2%;	
}

.employeeName {
	text-align: center;
	text-transform: uppercase;
}

.employeePosition  {
	text-align: center;
	font-size: 1.5em;
	padding: 2%;
}

#employee-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}

/*-----------Product Page-----------*/

.product {
	width: 20%;
	border: 2px solid slategray;
	margin: 1%;
}
  
.image img {
	max-width: 100%;
	border-top: 1px solid slategray;
	border-bottom: 1px solid slategray;
}

.description * {
	text-align: center;
	margin: 0;
}

.description {
	padding: 2%
}


.description h6 {
	padding: 2%;
	font-size: 1.25em;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

/* card layout area */

#product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* used image */


.product {
	position: relative;
}

.used {
	position: absolute;
	top: 90px;
}

img.used-img {
	border: 0;
	border-color: none;
}

/* fonts & colors */


/*-------- TESTIMONIALS PAGE --------- */
/*------------------------------------*/

.testimonials-heading {
	background-color: #9099a2;
	color: white;
	font-family: 'Kavivanar';
	margin: 5px;
	margin-left: 25%;
	margin-bottom: 35px;
	padding: 5px;
	width: 50%;
	text-align: center;
}

.testimonials-heading h2 {
	font-family: 'Kavivanar';
	margin: 0;
}

#testimonial-container {
	display: flex;
	justify-content: center;
}

.testimonial-card {
	background-color: #d5d5d5;
	color: #6d7993;
	margin: 20px;
	padding: 0;
	height: 675px;
	width: 300px;
	flex-wrap: wrap;
	position: relative;
}

.testimonial-student-info {
	background-color: #96858f;
	color: white;
	font-family: 'Kavivanar';
	height: 15%;
	width: 90%;
	padding: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.testimonial-student-info h5, h4 {
	margin: 0;
}

.testimonial-student-info h4 {
	margin-bottom: 5px;
}

.testimonial-card p {
	padding: 20px;
	font-family: 'Lato'
	margin-bottom : 0;
	margin-top: 0;
}

a, p {
	font-family: 'Lato', sans-serif
}


