/*--------------Nav-header--------------*/


#nav-header {
    display: flex;
    align-items: baseline; 
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
    background-color: white;
}

#nav {
	padding-right: 12.5%;
	padding-left: 12.5%;
}

#header {
	padding-left: 12.5%;
}

#nav-header h1 {
	margin: 0 auto 0 auto;
	font-family: 'Mr Dafoe', cursive;
}

#nav-header ul {
	padding: 0;
	margin: auto;
}

#nav-header header {
	color: 	#6d7993;
}


#nav li{
	list-style: none;
	display: inline-block;
	margin-right: 15px
}

#nav a, #nav a:link, #nav a:visited {
	color: rgba(93, 96, 99, .3);
	text-decoration: none;
	text-transform: lowercase;
}

#nav a:hover {
	color: #96858f; 
	border-bottom: solid;
}

#nav a:active {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px; 
	margin-right: -5px; 
 }


#nav a.selected {
 	color: #6d7993;
	border-bottom: solid;
	cursor: default;
 }

 #header a {
 	color: black;
	border-bottom: none;
}

#header a, #header a:link, #header a:visited {
	color: #6d7993;
	text-decoration: none;
}


/*--------------FOOTER--------------*/

 footer {
    bottom: 10px;
    max-height: 100px;
    width: 100%;
    text-align: center;
    color: rgba(93, 96, 99, .8);

 }

/*--------------Homepage--------------*/

#main-body {
	display: flex;
    flex-wrap: wrap; 
    width: 100%;
    max-height: 100%;
    height: 800px;
    margin: 0;
    padding-top: 10px;
    background-color: #f1f0f0;
    background-image: url("./images/sleepingInClass.jpg");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 100%
}

/*link boxes*/

#link-container {
	display: flex;
    /*align-items: baseline; */
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 80%;
    height: 35%;
    padding-left: 10%;
    padding-top: 3%;
}

/*#products-tile {
	width:95%;
}
*/
.small-box {
	width: 15%;
	height: 59%;
	margin: 0 4px 10px 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.7);
	border-radius: 2%;
}

.small-box h3 {
	font-family: 'Kavivanar', cursive;
	color: #6d7993;
}

.image-link {
	display: block;
	padding-top: 6%;
}

a.fa {
	font-size: 70px;
}


a.fa, a.fa:link, a.fa:visited {
	font-size: 70px;
	color: rgba(93, 96, 99, .3);
	text-decoration: none;
	text-transform: lowercase;
}

a.fa:hover {
	color: #96858f; 
}

a.fa:active {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px; 
	margin-right: -5px; 
 }


/*large photo*/

#main-image {
	width: 100%
}

#main-image-container {
	width: 80%;
	padding-left: 10%;
}

.image {
	color: #96858f; 
	border-bottom: solid;
}

/*-----------Product Page-----------*/

.products-header {
	background-color: #96858f;
	color: white;
	font-family: 'Kavivanar';
	margin: 5px;
	margin-left: 25%;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 5px;
	width: 50%;
	text-align: center;
}

.products-header h2 {
	font-family: 'Kavivanar';
	margin: 0;
}


.product {
	width: 20%;
	border: 2px solid slategray;
	margin: 1%;
}
  
.image img {
	max-width: 100%;
	border-top: 1px solid slategray;
	border-bottom: 1px solid slategray;
}

.description * {
	text-align: center;
	margin: 0;
}

.description {
	padding: 2%
}


.description h6 {
	padding: 2%;
	font-size: 1.25em;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

/* card layout area */

#product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

section.product{
	border-radius: 5%;
	background-color: #d5d5d5;
	border-style: none;
}


/* teacher images */

.teacher-image {
	margin-left: 23%;
}

.teacher-image img  {
	width: 72%;
	height: 213px;
	border-radius: 25%;
}

/* used image */


.product {
	position: relative;
}

.used {
	position: absolute;
	top: 90px;
}

img.used-img {
	border: 0;
	border-color: none;
}

/* fonts & colors */

a, p {
	font-family: 'Lato', sans-serif
}

/*-------- TESTIMONIALS PAGE --------- */
/*------------------------------------*/

.testimonials-heading {
	background-color: #96858f;
	color: white;
	font-family: 'Kavivanar';
	margin: 5px;
	margin-left: 25%;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 5px;
	width: 50%;
	text-align: center;
}

.testimonials-heading h2 {
	font-family: 'Kavivanar';
	margin: 0;
}

#testimonial-container {
	display: flex;
	justify-content: center;
}

.testimonial-card {
	background-color: #d5d5d5;
	color: #6d7993;
	margin: 20px;
	padding: 0;
	height: 700px;
	width: 300px;
	flex-wrap: wrap;
	position: relative;
}

.testimonial-student-info {
	background-color: #96858f;
	color: white;
	font-family: 'Kavivanar';
	height: 15%;
	width: 90%;
	padding: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.testimonial-student-info h5, h4 {
	margin: 0;
}

.testimonial-student-info h4 {
	margin-bottom: 5px;
}

.testimonial-card p {
	font-size: 15px;
	padding: 20px;
	font-family: 'Lato';
	font-size: 15px;
	margin-bottom : 0;
	margin-top: 0;
  flex-wrap: wrap;
}

/*-------- EMPLOYEES PAGE --------- */
/*------------------------------------*/

.team-heading {
	background-color: #96858f;
	color: white;
	font-family: 'Kavivanar';
	margin: 5px;
	margin-left: 25%;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 5px;
	width: 50%;
	text-align: center;
}

.team-heading h2 {
	font-family: 'Kavivanar';
	margin: 0;
}

#employeeCards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.employee-card {
	margin: 1%;
	flex-direction: row;

}

.employee-card img {
	margin-left: 27%;
	margin-bottom: 5px;
	width: 150px;
	height: 150px;
	border-radius: 50%;

}

.employee-info {
	border: 1px solid lightgrey;
	width: 300px;
	height: 275px;
}

.employee-name {
	text-align: center;
	background-color: #d5d5d5;
}

/*About Page*/
#aboutTitle {
	text-align: center;
}

#aboutTitle h1 {
	font-size: 75px;
}

#about-contact {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
#aboutInfo {
	width: 45%;
	background-color: #96858f;
	color: white;
	border-radius: 5%;
}
#aboutInfo:hover {
	font-weight: bold;
}
#contactInfo:hover {
	font-weight: bold;
}
#contactInfo {
	background-color: #96858f;
	color: white;
	border-radius: 5%;

}

#about-contact h3 {
	align-items: center;
}

.employee-name h2 {
	margin-top: 0;
}

.employee-position {
	text-align: center;
}

.employee-position h3 {
	margin-bottom: 2px;
}

.employee-bio p {
	padding: 20px;
	padding-top: 0;
}



/*-------------Blog Page------------*/

.ourBlog {
	background-color: #96858f;
	color: white;
	font-family: 'Kavivanar';
	margin: 5px;
	margin-left: 25%;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 5px;
	width: 50%;
	text-align: center;
}

.ourBlog h2 {
	font-family: 'Kavivanar';
	margin: 0;
}

#blogsCards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	float: right;
}

.blogSection img {
	width: 50%;
	height: 50%;
	margin-right: 3%;
	border-radius: 10%;
	float: left;
}

.blogSection {
	max-width: 80%;
	border: .5px solid slategray;
	box-shadow: 4px 8px 8px 3px #888888;
	margin: 2%;
	padding: 2%;
	border-radius: 10%;
	background-color: #96858f;
	color: white;
}

.blog-content {
	font-family: 'Lato';
	font-size: 10px;
	display: inline-block;
	float: right;
}

.blogTitle {
	font-family: 'Lato';
	font-size: 19px;
}

body {
	box-sizing: border-box;
}

/*-------------ABOUT ME PAGE------------*/

.aboutme-header {
	background-color: #96858f;
	color: white;
	font-family: 'Kavivanar';
	margin: 5px;
	margin-left: 25%;
	margin-top: 35px;
	margin-bottom: 15px;
	padding: 5px;
	width: 50%;
	text-align: center;
}

.aboutme-header h2 {
	font-family: 'Kavivanar';
	margin: 0;
}

.aboutme-header2 {
	color: #6d7993;
	margin: 0;
}
